body {
        font-family: 'Source Sans Pro';font-size: 22px;
        margin:0;
        color: grey;
        background-color:whitesmoke;
}

.visible {
        visibility:visible !important;
}

.header-wrapper {
        display:inline-flex;
        width:100%;
        background-color:black;
}

.header {
        width:1200px;
        max-width:90%;
        display:inline-flex;
        flex-wrap:wrap;
        margin:auto;
}

.header-logo {
        width:300px;
        order:2;
        display:inline-flex;
        justify-content:center;
        margin:auto;
}

.header-column {
        width:450px;
        display:inline-flex;
}

.right {
        order:3;
}

.left {
        order:1;
}

.menu-button {
        display:inline-block;
        width:100%;
        text-align:center;
        padding:30px 20px 10px;
}

.menu-button:hover {
        background-color:#1f1f1f;
}

.logo {
        margin:10px;
        width:60px;
        height:60px;
        order:2;
}

.logo svg path {
        fill:white;
}

.logo-name {
        color: white;
        text-align: center;
        margin:auto 0;
}

.row {
        width:100%;
}

.column {
        width:1200px;
        max-width:90%;
        margin:auto;
}
